
///Navbar start

header {
min-height: 980px;
display: block;
max-width: 100%;
.bg-img('bg-img.png');
}
.navigation {
background-color: fade(@bg-shadow, 70%);
overflow: hidden;
max-height: 20vh;
display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
align-items: flex-start;
min-width: 80%;
}
    .menu-link {
      color: #fff;
      font-family: 'Alegreya', sans-serif;
      font-size: 22px;
      font-weight: 450;
      list-style: none; 
      letter-spacing: 4px;
       &:hover{
      color: #000;
      text-decoration: none;
      }

      &:last-child:after{
        display: none;
      }


    }

.menu-item{
      font-family: 'Alegreya', sans-serif;
      font-weight: 450;
      list-style: none;
      letter-spacing: 4px;
      display: inline-flex;
      padding: 30px 0 30px 80px;
}    


.logo {
      padding: 23px 0 0 170px;
      font-size: 30px;
      letter-spacing: 2px;
      color: #fff;
      font-weight: 400;
      font-family: 'Alegreya', sans-serif;
}
.society{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-around;
  width: -10%;
  /// margin-left: 151px;

}
.society .icon{
    color: #fff;
    padding-top: 33px;
    padding-left: 30px;
   &:hover {
    color: #000;
   }
}
//NAVBAR END


///heading
.hero-heading{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 23%;
  padding: 210px 350px 0px 0px;
  width: 90%;
     h1{
    letter-spacing: 4px;
    font-family: 'PlayfairDisplay', sans-serif;
    font-weight: 700;
    font-size: 4.5em;
    color: #fff;

    text-align: center;
    }
      hr{
      margin-top: 61px; 
      margin-left: 190px;
      width: 228px;
      color: #afaba7;
      }
    p{
        margin-top: 40px;
      text-align: center;
      font-family: 'WorkSans';
      font-weight: 500;
      color: #fff;
      font-size: 25px;
    }
     button{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     color: #fff;
     font-weight: 650;
     font-size: 16px;
     margin-top: 70px;

     width: 200px;
     font-family: 'WorkSans';
     height: 50px;
     letter-spacing: 1px;
     background-color: rgba(105, 101, 92, .5);
     text-transform: uppercase;
     border: 1px dashed #9e9c93;
     &:hover {
    background-color: #000000;
     }
   }
}

///heading-end
.bread{
position: absolute;
left: 45%;
bottom: -6%;
  overflow: hidden;
}


.desc-cake{
margin-left: 248px; 
overflow: hidden;
.desc {
   margin-top: 110px;
   margin-right: 100px;
  font-family: 'Alegreya';
  .art_cacke{
    display: flex;
    flex-direction: center;
    justify-content: center;
    letter-spacing: 1px;
    padding-right: 10px;
    font-weight: 650;
    text-align: center;
    font-size: 50px;
  }
  h3{
    display: flex;
    flex-direction: center;
    justify-content: center;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 550;
    color: #d3c0b1;
    text-transform: uppercase;
  }
  p{
  margin-top: 25px;
  font-size: 18px;
  font-family: 'ProximaNova';
  font-weight: 600;
  text-align: center;
  }
  h4{
    font-weight: 550;
    font-size: 23px;
    display: flex;
    justify-content: center;
    padding: 35px;
    margin-right: 15px;
  }

}}

//desc-cake

.chef-cook {
  // margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  margin-right: 50px;
  img {
   padding: 0 62px 0 62px;
   border-radius: 50%;
   height: 140px;
  
  }
  h1{
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid #d7d5ca;
    border-top: 2px solid #d7d5ca;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Alegreya';
  }
   .quote{
    position: relative;
    margin-top: 70px;
    margin-left: 227px;
    margin-right: 250px;
    color: #a47d5e;
    font-family: 'PlayfairDisplay';
    font-weight: 300;
    font-size: 30px;
  }
  p:before {
    position: absolute;
    bottom: 15px;
    content: open-quote;  
    font-size: 50px;  
    text-align: center; 
    letter-spacing: 2px; 
   }
  p:after {
     position: absolute;
     bottom: 15px;
     letter-spacing: 2px;
     content: close-quote;  
     font-size: 50px;  
     text-align: center;  
  }

}

//imgпуы
.tastes {
  .gridients{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 500px;
  margin-left: 20px;
  margin-bottom: -35px;
  height: 340px;
  max-width: 350px;
  }


    h1 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  font-family: 'PlayfairDisplay';
    }
}

.floor {
.bg-img-small('flour.png');

}
.egg {
.bg-img-small('egg.png');

}
.cake {
.bg-img-small('cake.png');

}
.strawberry {
.bg-img-small('strawberry.png');

}
  .center  {
  position: relative;
  bottom: 300px;
  left: 85px;
  float: right;
  opacity: 0.9;
  z-index: 1;
  img {
    max-width: 255px;
  }
  .block-text{
  position: absolute;
  top: 30%;

  transform: translateX(40%);
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: #c9b176;
  font-family: 'Alegreya';
  }
  }

///////bg-table
  .bg-table {
    .bg-img('bg-table.png');
    width: 100%;
    min-height: 700px;
    position: relative;
    bottom: 400px;  
     .stars {
    color: rgb(255, 255, 255);
    // position: relative;
    // left: 30px;
    &:hover{
    
    }
    }  
   .pancakes{
    position: absolute;
    left: 237px;
    top:150px;
   }
  }