
@import "../style.less";
///Navbar start

header {
min-height: 980px;
display: block;
max-width: 100%;
height: 100vh;
.bg-img('bg-img.png');
}
.navigation {
background-color: fade(@bg-shadow, 70%);
overflow: hidden;
max-height: 20vh;
display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
align-items: flex-start;
min-width: 80%;
}
    .menu-link {
      color: #fff;
      font-family: 'Alegreya', sans-serif;
      font-size: 22px;
      font-weight: 450;
      list-style: none; 
      letter-spacing: 4px;
    }

.menu-item{
      font-family: 'Alegreya', sans-serif;
      font-weight: 450;
      list-style: none;
      letter-spacing: 4px;
      display: inline-block;
      padding: 30px 0 30px 80px;
     &:hover, focus{

      text-decoration: none;
     }
}    
.menu-item,.menu-link{
  &:hover{
      color: #000;
      text-decoration: none;
            list-style: none; 
  }
}

.logo {
      padding: 23px 0 0 170px;
      font-size: 30px;
      letter-spacing: 2px;
      color: #fff;
      font-weight: 400;
      font-family: 'Alegreya', sans-serif;
}
.society{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-around;
  width: -10%;
  margin-left: 151px;

}
.society .icon{
    color: #fff;
    padding-top: 33px;
    padding-left: 30px;
   &:hover {
    color: #000;
   }
}
//NAVBAR END


///heading
.hero-heading{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content:center;
  align-items: baseline;
  padding: 170px 350px 0px 300px;
  max-width: 1100px;
  min-width: 109%;
     h1{
    letter-spacing: 4px;
    font-family: 'PlayfairDisplay', sans-serif;
    font-weight: 700;
    font-size: 4.5em;
    color: #fff;
    text-align: center;
    }
      hr{
      margin-top: 61px; 
      margin-left: 190px;
      width: 228px;
      color: #afaba7;
      }
    p{
      margin-top: 40px;
      text-align: center;
      font-family: 'WorkSans';
      font-weight: 500;
      color: #fff;
      font-size: 25px;
    }
     button{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     color: #fff;
     font-weight: 650;
     font-size: 16px;
     margin-top: 70px;
     width: 200px;
     font-family: 'WorkSans';
     height: 50px;
     letter-spacing: 1px;
     background-color: rgba(105, 101, 92, .5);
     text-transform: uppercase;
     border: 1px dashed #9e9c93;
     &:hover {
    background-color: #000000;
     }
   }
}

///heading-end
.bread{
    margin-left: 48%;
    margin-top: 8%;
}


.desc-cake{
margin-left: 248px; 
overflow: hidden;
min-width: 46%;
.desc {
   margin-top: 110px;
   margin-right: 100px;
   font-family: 'Alegreya';
   min-width: 350px;
  .art_cacke{
    display: flex;
    flex-direction: center;
    justify-content: center;
    letter-spacing: 1px;
    padding-right: 10px;
    font-weight: 650;
    text-align: center;
    font-size: 50px;
  }
  h3{
    display: flex;
    flex-direction: center;
    justify-content: center;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 550;
    color: #d3c0b1;
    text-transform: uppercase;
  }
  p{
  min-width: 350px;
  margin-top: 25px;
  font-size: 18px;
  font-family: 'ProximaNova';
  font-weight: 600;
  text-align: center;
  }
  h4{
    font-weight: 550;
    font-size: 23px;
    display: flex;
    justify-content: center;
    padding: 35px;
    margin-right: 15px;
  }

}}

//desc-cake

.chef-cook {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content:center;

  img {
   padding: 0 62px 0 62px;
   border-radius: 50%;
   height: 140px;
  
  }
  h1{
    display: flex;
    flex-direction: row;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #d7d5ca;
    border-top: 2px solid #d7d5ca;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Alegreya';
  }
   .quote{
    position: relative;
    padding-right: 33px;
    padding-top: 51px;
    color: #a47d5e;
    font-family: 'PlayfairDisplay';
    font-weight: 300;
    font-size: 30px;
     min-width: 125%;
     display: inline-flex;
     flex-wrap: nowrap;
     flex-direction: row;
     justify-content: center;
  }
  p:before {
    position: absolute;
    bottom: 15px;
    left: 70%; 
    content: open-quote;  
    font-size: 50px;  
    letter-spacing: 2px; 
   
   }
  p:after {
     position: absolute;
     bottom: 15px;
     right: 73%;
     letter-spacing: 2px;
     content: close-quote;  
     font-size: 50px;  
     
  }

}



// <!--second block imgs-->
.tastes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 93px;
  img{
      height: auto;
  }
}
  .gridients{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 -117px 20px -15px;
  }
  .center  {
  position: relative;
  top: 162px;
  margin-bottom: -29%;
  margin-left: 26%;
  opacity: .9;
  z-index: 1;
  img {
    max-width: 255px;
}
  .block-text{
  position: absolute;
  top: 29%;
  transform: translateX(40%);
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: #c9b176;
  font-family: 'Alegreya', sans-serif;
  }
}

///////bg-table
  .bg-table {
    .bg-img('bg-table.png');
    // max-width: 1904px;
    // // margin-top: 550px;
    // padding-bottom: 62px;
    // max-height: 850px;
    width: 100%;
    min-height: 875px;
    position: relative;
    margin-top: 95px;
    .pancakes{
      padding: 150px 0 0 220px;
    img{
      max-width: 750px;
    }
}
   .recipe {
    margin: -72px 0px 0px -82px;
    img{
      max-width: 700px;
    }
    .textarea{
    margin: -50rem 0 0 6rem;
    font-family: 'Alegreya', sans-serif;
    h1{
    font-weight: 600;
    font-size: 50px;
    color: #56534c;
    margin-bottom: 23px;
    }
    h2{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    color: #cbb8aa;
    }
    p{
      // font-size: 16vw;
      color: #56534c;
      padding-top: 71px;
    }
  }

}
        #slider{
    width: 370px;     
    padding-top: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
          ul{
    display: inline-flex;
    flex-direction: row;
    position: relative;
    left: 23px;
    }
}


}
///////bg-table-ends

.vector{
    position: relative;

    display: inline-flex;
    top: 58px;
    z-index: 888;
    box-shadow: -29px 26px 55px 16px #a29183;
    left: 350px;


 .textVectora{
    position: relative;
    z-index: 9999;
    top: 10px;
    right: 141px;
    margin-right: -106px;
}
   h4{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: #a47d5e;
    margin-top: 10px;
    margin-right: -6px;
    position: relative;
    top: 9px;
    right: 7px;
   }
    h1{
    z-index: 9999;
    line-height: 0.5;
    font-size: 92px;
    font-weight: 600;
    color: #dfc691;
    font-family: 'Alegreya', sans-serif;
    position: relative;
    bottom: 13px;
    right: 5px;
  }
  h5{
    z-index: 9999;
    font-size: 25px;
    color: #979285;
    margin-left: 14px;
    position: relative;
    bottom: 21px;
  }

}
    
///Bg-breakfast-starts
.bg-breakfast{
  .bg-img('bg-breakfast.png');
  max-width: 100%;
  min-height: 700px;
  position: relative;
  top: 89px;
  font-family: 'Alegreya', sans-serif;
  .breakfast{
  padding-top: 52px;
      h1{
    font-size: 82px;
    font-weight: 600;
    color: #fff;
  }
  h2{
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    color: #c8a593;
    margin-top: -50px;
    padding-left: 0px;
  }
  }

  .full-breakfast{
    margin-top: 33px;
   h4{
    color: #fff;
    font-size: 33px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    padding-right: 123px;
  }
  p{
    font-size: 20px;
    color: #c2beba;
  }
  h3{
    color: #dfc691;
    padding-left: 24%;
    font-size: 39px;
     padding-bottom: 30px;
  }
 }
}








