@import "../style.less";
@media screen and (max-width: 930px){
	.hero-heading{
	min-width: 139%;
	}


}
@media (min-width: 992px) and (max-width: 1200px){
	.hero-heading{
padding: 0;
margin: 0;
overflow: hidden;
	}
	.navigation{
		max-width: 100%;
	}
}
@media(max-width: 1540px){

	.pancakes{
    position: relative;
    right: 80px;
	}
		.recipe{
padding-left: 86px;
	}
	#content-slider{
    padding-left: 36px;
    max-width: 643px;
	}
	.vector{
		margin-left: 72px;
	}
}


@media(max-width: 1300px) {
		.pancakes{
    position: relative;
    top: 13rem;
    right: 80rem;
	}
	.recipe{
    position: relative;
    bottom: 31rem;
    left: 65rem;
	}

	.vector{
    img{
    position: relative;
    box-shadow: -29px 26px 55px 16px #a29183;
    bottom: 51rem;
    left: 13rem;
    overflow: hidden;
    }

}
 .textVectora{
    margin-top: -54rem;
    margin-left: 126px;
    h4{
    	margin-top: -24px;
    }
}
#slider{
    position: relative;
    bottom: 29rem;
    left: 24rem;
    max-width: 377px;
    #content-slider{
        margin-left: 35px;
    }
}
}


@media only screen and (max-width: 1299px){
  .bg-table{
    background-position: 48% 20%;
    font-size: 16px;
    height: 30vh;
    .pancakes{
    max-width: 250px;
    font-size: 16px;
        img{
    max-height: 450px;
        }
    }



    .vector{
    height: 21vh; 
    left: 20rem;
    .textVectora{  
    top: 45px;
    right: 133px;  
    .textVectora h4{
        margin-top: 25px;
         font-size: 23px;
        }
        .textVectora h1{
        font-size: 80px;
        }
        .textVectora h5{
        font-size: 23px;
        bottom: 38px;
        }
    }
    }

    .recipe{
    padding-top: 6rem;
    padding-left: 22rem;
    display: flex;
    justify-content: center;
        img{
         max-height: 450px;
        }

    .textarea{
    position: relative;
    top: 47rem;
    right: 46rem;
        p{
    font-size: 16px;
    white-space: nowrap;
        }
    }   
    }


  #slider{
  padding: 0;
    position: relative;
    bottom: 26rem;
    left: 48px;
    max-width: 320px;
    #content-slider{
    margin-left: -41px;
    }
  }
  }
  
}

@media only screen and (max-width: 1171px){
      .recipe{
    position: relative;
    bottom: 31rem;
    left: 54rem;
  }
}

