@media (max-width: 1400px){
	.navigation{
   width: 100%;
   float: left;


	}
	.menu-link{
   margin: 0 auto;
   height: auto;
   max-width: 100%;
	}
	.logo{
		float: right;
	}
	.society{
   position: relative;
   right: 35%;

	}
}