@media (max-width: 1200px) {

  .navigation {
  position: relative;
  .logo {
   margin-right: 44px;
  }
  }
  
}

@media (max-width: 1488px) {
 .society{
 	position: relative;
 	right: 100px;
 }
 .logo {
 	float: left;
 }
 
 }