@media screen and (max-width: 930px){
	.hero-heading{
	min-width: 139%;
	}


}
@media (min-width: 992px) and (max-width: 1200px){
	.hero-heading{
padding: 0;
margin: 0;
overflow: hidden;
	}
	.navigation{
		max-width: 100%;
	}
}